@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  height: 4rem;
  background-color: bisque;
}

a {
  text-decoration: none;
}

#myVideo {
  height: 500px;
  width: 100%;
  float: left;
  position: relative;
  object-fit: cover;
}

.title {
  margin: 0 auto;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.recipes-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.selection {
  border: 1px solid black;
  padding: 1rem;
}

.recipes-info {
  height: 60vh;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 100px;
}

/* .recipes-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
} */
/* 
.recipes-info img {
  width: 100%;
} */
