@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0
}

body {
  font-family: 'Raleway', sans-serif;
}

header {
  height: 4rem;
  background-color: bisque;
}


.recipes-info {
  height: 60vh;
  flex-direction: column;
}

#myVideo {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  /* position: fixed; */
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.selection {
  border: 1px solid black;
  padding: 1rem;
}

.recipes-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.recipes-card {
  border: 1px solid black
}

.recipes-card img {
  width: 30rem;
}