.recipes-info,
.recipes-preparation,
.recipes-single,
.recipes-info div {
  display: flex;
}

.recipes-box {
  margin: 0 auto;
  max-width: 75rem;
  line-height: 1.5rem;
}

.recipes-box h1 {
  margin: 1.5rem 0;
}

.recipes-card {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recipes-info {
  flex-direction: row;
  justify-content: space-between;
}

.recipes-info img {
  width: 30rem;
  margin-bottom: 1rem;
}
.recipes-info div,
.recipes-preparation {
  flex-direction: column;
}

.recipes-text {
  margin-left: 2rem;
  /* max-width: 30rem; */
}

.recipes-single {
  flex-direction: row;
  justify-content: space-between;
}

.recipes-ingredients {
  border: 1px solid black;
  padding: 0 0.5rem;
}
